/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  /* Colors */
  /* Primary */
  --c-soft-orange: hsl(35, 77%, 62%);
  --c-soft-red: hsl(5, 85%, 63%);
  /* Neutral */
  --c-off-white: hsl(36, 100%, 99%);
  --c-grayish-blue: hsl(233, 8%, 79%);
  --c-dark-grayish-blue: hsl(236, 13%, 42%);
  --c-very-dark-blue: hsl(240, 100%, 5%);
}

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
  height: auto; /* Not sure about this */
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit; /* Not sure about this */
}

button {
  border: none;
  /* Check best practices for reset here */
  background-color: transparent;
}

body {
  font-size: 15px;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

/* Styling [Mobile First] */
/* Remember this give it class so we can style safely? */
.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem; /* Best practice is to keep consistent spacing */
}

/* Taking nav out of normal flow */
.nav-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 70%;
  max-width: 300px;
  height: 100vh;
  background-color: white;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  padding: 1.5rem;
  box-shadow: -10px 0 30px hsla(0, 0%, 0%, 0.15);
  border-left: 1px solid hsla(0, 0%, 0%, 0.05);
}

/* Hiding close icon */
.menu-toggle,
.menu-close {
  cursor: pointer;
}

.menu-close {
  display: none;
}

.nav-menu.is-open {
  transform: translateX(0);
  /* display: flex; */
  /* flex-direction: column; */
  /* gap: 6rem; */
}

.menu-close {
  display: block;
  margin-left: auto;
  margin-bottom: 6rem;
  /* justify-items: flex-end; */
}

.nav-links {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.nav-links a {
  text-decoration: none;
  font-size: 1.5rem;
  /* font-weight: 700; */
  color: var(--c-very-dark-blue);
}

.nav-links a:hover {
  color: var(--c-soft-orange);
  transition: color 0.3s ease;
}

/* Backdrop style */
.nav-backdrop {
  position: fixed;
  inset: 0;
  background: hsla(0, 0%, 0%, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.nav-backdrop.is-visible {
  opacity: 1;
  pointer-events: auto;
  z-index: -1;
}

.logo {
  width: 40px;
}

/* Main style */
/* Hero */
main {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 1.25rem;
}

.hero {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.hero-title {
  font-size: 3rem;
  font-weight: 800;
  line-height: 1;
  color: var(--c-very-dark-blue);
  margin-block-end: 1rem;
}

.hero-description {
  font-size: 1rem;
  line-height: 1.6;
  color: var(--c-dark-grayish-blue);
}

.hero a {
  align-self: flex-start;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 4px;
  background-color: var(--c-soft-red);
  padding: 0.75rem 1.75rem;
  color: var(--c-very-dark-blue);
  cursor: pointer;
  display: inline-block;
  margin-block-start: 1rem;
}

.hero a:hover {
  color: var(--c-off-white);
  background-color: var(--c-very-dark-blue);
  transition: background-color 0.3s ease;
}

/* News */
.news-sidebar {
  background-color: var(--c-very-dark-blue);
  color: var(--c-off-white);
  padding: 1.25rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  line-height: 1.6;
}

.news-sidebar h2 {
  font-size: 2rem;
  color: var(--c-soft-orange);
}

.news-article:not(:last-of-type) {
  border-bottom: 0.5px solid var(--c-dark-grayish-blue);
  padding-bottom: 1.5rem;
}

.news-article h3 {
  font-size: 1.25rem;
  margin-bottom: 12px;
}

.news-article p {
  font-size: 1rem;
  color: var(--c-grayish-blue);
}

.featured-articles {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.article-card {
  display: flex;
  gap: 1.25rem;
}

.article-card figure {
  max-width: 100px;
  flex-shrink: 0;
}

.article-card figure img {
  width: 100%;
  height: 100%;
}

.article-card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.article-card-number {
  font-size: 2rem;
  font-weight: 800;
  color: var(--c-soft-red);
}

.article-card-title {
  font-size: 1.25rem;
  font-weight: 800;
  color: var(--c-very-dark-blue);
}

.article-card-content p {
  font-size: 1rem;
  color: var(--c-dark-grayish-blue);
}

/* Tablet - 768px */
@media (min-width: 768px) {
  .wrapper {
    max-width: 750px;
    margin-inline: auto;
  }
}

/* Desktop - 1024px */
@media (min-width: 1024px) {
  .wrapper {
    max-width: 1010px;
    margin-inline: auto;
  }

  .logo {
    width: auto;
  }

  main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
    gap: 2rem;
  }

  .menu-toggle,
  .menu-close {
    display: none;
  }

  .nav-menu {
    position: static;
    transform: none;
    width: auto;
    max-width: none;
    height: auto;
    padding: 0;
    box-shadow: none;
    border: none;
  }

  .nav-links {
    flex-direction: row;
  }

  .nav-links a {
    font-size: 1rem;
  }

  .hero-image {
    flex-grow: 2;
    /* object-fit: contain; */
    /* background-image: url("./assets/images/image-web-3-desktop.jpg"); */
  }

  .hero-description-container {
    display: flex;
    align-items: flex-end;
    gap: 2rem;
    flex-grow: 1;
  }

  .hero-description {
    width: 35ch;
  }

  .featured-articles {
    grid-template-columns: repeat(3, 1fr);
    grid-column: 1 / -1;
  }
  .article-card-title {
    font-size: 1.1rem;
  }
  .article-card-content p {
    font-size: 0.85rem;
  }
}

/* Desktop - 1440px */
@media (min-width: 1440px) {
  .wrapper {
    max-width: 1200px;
  }
}
